body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 740px) {
  /*HEADER MOBILE*/
  .bloc1_heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Shrikhand", cursive;
    -webkit-box-shadow: 16px #0000002e;
            box-shadow: 16px #0000002e;
  }
  .bloc1_loca {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*margin-right: 40px;*/
    font-weight: bolder;
    color: #404040;
    background-color: #EAEAEA;
  }
  .bloc1_loca .bloc1_icone {
    padding-right: 30px;
  }
  .bloc1_pres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: #F6F6F6;
  }
  .bloc1_pres .bloc1_pres1 {
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bolder;
  }
  .bloc1_pres .bloc1_pres2 {
    font-size: 20px;
    font-weight: bold;
    color: #404040;
    margin-top: -30px;
  }
  .bloc1_pres .bloc1_button {
    margin: 0 100px 0 100px;
    font-size: 15px;
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356DC));
    background-image: linear-gradient(#ff79da, #9356DC);
    -webkit-box-shadow: 1px 0 8px  darkgray;
            box-shadow: 1px 0 8px  darkgray;
    border-radius: 25px;
    border: none;
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
  }
}

.bloc2 h2 {
  font-weight: bolder;
}

.bloc2_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc2_buttons .numbers_1 {
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  padding: 2px 6px 2px 6px;
  margin-left: -90px;
  margin-right: 6px;
  font-size: 12.5px;
}

.bloc2_buttons .numbers_2 {
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  padding: 2px 6px 2px 6px;
  margin-left: -112px;
  margin-right: 6px;
  font-size: 12.5px;
}

.bloc2_buttons .numbers_3 {
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  padding: 2px 6px 2px 6px;
  margin-left: -103px;
  font-size: 12.5px;
}

.bloc2_buttons .bloc2_button {
  padding: 25px 0px 25px 0px;
  margin: 10px 30px 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 15px;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0 0 16px #0000002e;
          box-shadow: 0 0 16px #0000002e;
}

.bloc2_buttons .bloc2_button:hover {
  background-color: #F5EDFF;
}

.bloc2_buttons .bloc2_buttonicon1 {
  color: #7C7C7C;
  margin-right: 10px;
  padding: 0 15px 0 10px;
  font-size: 17px;
}

.bloc2_buttons .bloc2_buttonicon2 {
  color: #7C7C7C;
  margin-right: 10px;
  padding: 0 8px 0 10px;
  font-size: 17px;
}

.bloc2_buttons .bloc2_buttonicon3 {
  color: #7C7C7C;
  margin-right: 2px;
  padding: 0 15px 0 15px;
  font-size: 17px;
}

.bloc3 {
  background-color: #F6F6F6;
  padding-bottom: 60px;
}

.bloc3 .bloc3_cartes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc3 .bloc3_cartes .bloc3_carte {
  background-color: white;
  width: 21rem;
  height: 15rem;
  border-radius: 1rem 1rem;
  -webkit-box-shadow: 0 0 16px #0000002e;
          box-shadow: 0 0 16px #0000002e;
  margin-top: 20px;
}

.bloc3 .bloc3_cartes .bloc3_carte a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.bloc3 .bloc3_cartes .bloc3_carte p {
  margin-top: -15px;
}

.bloc3 .bloc3_cartes .bloc3_carte img {
  height: 10rem;
  width: 21rem;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bloc3 .bloc3_cartes .bloc3_descresto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc3 .bloc3_cartes .bloc3_blocdesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bloc3 .bloc3_cartes .bloc3_button {
  font-size: 25px;
  padding: 20px 20px 80px 20px;
}

.bloc3 h2 {
  /*rendre plus gras*/
}

footer {
  background-color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: lighter;
  margin-left: 40px;
  margin-bottom: -15px;
}

.bloc4_footer {
  list-style: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 20px;
}

.bloc4_footer li {
  margin-top: 10px;
}

.iconesli {
  margin-right: 10px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
/*# sourceMappingURL=style.css.map */