/*PAGES CSS ANIMATIONS MENU*/
$green:#99e2d0;

/*.menu_entrées_repas_validate {
    background-color: $green;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 60px;
    font-size: 20px;
    position: relative;
    
}

.menu_entrées_repas_validate .fas {
    transform: rotate(180deg);
    transition: all 500ms;
    color: white;
}
*/

    