@charset "UTF-8";
/*
.menu_entrées_repas .menu_entrées_repas_validate i {
  color: white;
}

.menu_entrées_repas::before .menu_entrées_repas_validate i {
    transform: rotate(360deg);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.menu_entrées_repas .menu_entrées_repas_validate {
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: white;
  width: 60px;
  font-size: 20px;
  position: relative;
  /*right: -4rem;*/
/*}*/
/*
.menu_entrées_repas::before .menu_entrées_repas_validate {
    transform: 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
}
.menu_entrées_repas:hover::before .menu_entrées_repas_validate,
.menu_entrées_repas:focus::before .menu_entrées_repas_validate {
    transform:scaleX(1)
}
*/
.menu_entrées_repas:hover .menu_entrées_repas_validate i {
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

.menu_entrées_repas:hover .menu_entrée_repas_descrip p {
  text-overflow: ellipsis;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
}

.menu_entrées_repas:hover .prix_entrée {
  -webkit-animation: slidein 1s;
          animation: slidein 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_entrées_repas_validate {
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  color: white;
  width: 60px;
  font-size: 20px;
  position: relative;
  right: -4rem;
}

.menu_entrées_repas:hover .menu_entrées_repas_validate {
  -webkit-animation: slidein 1s;
          animation: slidein 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(460deg);
            transform: rotate(460deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(460deg);
            transform: rotate(460deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
}

@-webkit-keyframes slideout {
  from {
    -webkit-transform: scaleX(-4rem);
            transform: scaleX(-4rem);
  }
  to {
    -webkit-transform: scaleX(0px);
            transform: scaleX(0px);
  }
}

@keyframes slideout {
  from {
    -webkit-transform: scaleX(-4rem);
            transform: scaleX(-4rem);
  }
  to {
    -webkit-transform: scaleX(0px);
            transform: scaleX(0px);
  }
}

.menu_entrées_repas:hover::after .menu_entrées_repas_validate::after {
  -webkit-animation: slideout 1s;
          animation: slideout 1s;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  color: white;
  width: 60px;
  font-size: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
}

/*refaire l'animation. de 0*/
/*# sourceMappingURL=animationstest.css.map */