.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    animation: background 3s both;

}

@keyframes background {
    0% {
        visibility: visible;
      }
    
      100% {
        visibility: hidden;
    }
}

.loader > span {
    display: inline-block;
    background-color: #9356dc;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 8px;
    animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
    background-color: #99e2d0;
    animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
    background-color: #FF79DA ;
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 30px;
        height: 30px;
        transform: translate3d(0, -30px, 0);
    }
}

.content {
    transition: opacity  2s ease-in;
}
