$periwinkle: #9356dc;
$darkgrey: #404040;
$pinky: #ff79da;
body {
  font-family: "Roboto";
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 1050px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  box-shadow: 0px 3px 5px #0000002e;
  margin-bottom: 2px;
}

.bloc1_loca {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: $darkgrey;
  background-color: #eaeaea;
  .bloc1_icone {
    padding-right: 30px;
  }
}
.bloc1_pres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;

  .bloc1_pres1 {
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bolder;
  }

  .bloc1_pres2 {
    font-size: 20px;
    font-weight: bold;
    color: $darkgrey;
    margin-top: -30px;
  }
  .bloc1_pres2 p {
    font-weight: normal;
  }
  .bloc1_button {
    width: 60%;
    margin: auto;
    font-size: 15px;
    color: white;
    background: linear-gradient($pinky, $periwinkle);
    box-shadow: 1px 0 8px darkgray;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    padding: 15px 0 15px 0;
    margin-bottom: 30px;
    cursor: pointer;
    transition-duration: 400ms;
    transition-property: transform;
  }
  .bloc1_button:hover {
    transform: scale(1.12);
    background: linear-gradient(lighten($pinky, 4%), lighten($periwinkle, 4%));
    box-shadow: 1px 0 8px black;
  }
}

.bloc2 h2 {
  margin-left: 20px;
}

.bloc2_buttons ul {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  font-size: 20px;

  .numbers_1 {
    background-color: $periwinkle;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
  }
  .numbers_2 {
    background-color: $periwinkle;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
  }
  .numbers_3 {
    background-color: $periwinkle;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
  }

  .bloc2_button1 {
    position: relative;
    width: 85%;
    margin-bottom: 13px;
    margin-top: 13px;
    height: 75px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    border-radius: 24px;
    background-color: #f6f6f6;
    box-shadow: 0 0 16px #0000002e;
    &:hover {
      background-color: #f5edff;
    }
    &:hover .bloc2_buttonicon1 {
      color: #9356dc;
    }
  }
  .bloc2_button2 {
    position: relative;
    width: 85%;
    margin-bottom: 13px;
    margin-top: 13px;
    height: 75px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    border-radius: 24px;
    background-color: #f6f6f6;
    box-shadow: 0 0 16px #0000002e;
    &:hover {
      background-color: #f5edff;
    }
    &:hover .bloc2_buttonicon2 {
      color: #9356dc;
    }
  }
  .bloc2_button3 {
    position: relative;
    width: 85%;
    margin-bottom: 13px;
    margin-top: 13px;
    height: 75px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    border-radius: 24px;
    background-color: #f6f6f6;
    box-shadow: 0 0 16px #0000002e;
    &:hover {
      background-color: #f5edff;
    }
    &:hover .bloc2_buttonicon3 {
      color: #9356dc;
    }
  }

  .bloc2_buttonicon1 {
    color: #7c7c7c;
    width: 25px;
    margin-right: 20px;
    margin-left: -20px;
  }

  .bloc2_buttonicon2 {
    color: #7c7c7c;
    width: 25px;
    margin-right: 23px;
    margin-left: -35px;
  }

  .bloc2_buttonicon3 {
    color: #7c7c7c;
    width: 25px;
    margin-right: 21px;
    margin-left: -33px;
  }
}

.bloc3 {
  background-color: #f6f6f6;
  padding-bottom: 60px;
  padding-top: 15px;

  .bloc3_badge {
    position: absolute;
    right: 9%;
    margin-top: 30px;
  }
  .bloc3_badge p {
    background-color: #99e2d0;
    font-weight: bolder;
    color: #1b6150;
    padding: 10px;
    border-radius: 5%;
  }

  .bloc3_cartes {
    display: flex;
    flex-direction: column;
    align-items: center;

    .bloc3_carte {
      position: relative;
      border-radius: 1rem;
      width: 80%;
      background-color: white;
      box-shadow: 0 0 16px #d2d2d2;
      margin-top: 2rem;
    }
    .bloc3_carte a {
      text-decoration: none;
      color: black;
      font-weight: bolder;
    }

    .bloc3_carte p {
      margin-top: -15px;
      font-weight: normal;
    }

    .bloc3_carte img {
      height: 10rem;
      width: 100%;
      object-fit: cover;
      box-shadow: none;
      display: flex;
      align-content: center;
      border-radius: 1rem 1rem 0 0;
    }
    .bloc3_descresto {
      display: flex;
      flex-direction: column;
    }
    .bloc3_blocdesc {
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      justify-content: space-between;
      margin-bottom: -25px;
      margin-top: -10px;
      padding-top: 5px;
    }
    .bloc3_button {
      font-size: 25px;
      padding: 20px 20px 80px 0px;
      transition: all 450ms;
    }
    .fa-stack-1x,
    .fa-stack-2x {
      width: inherit;
      cursor: pointer;
      left: 85%;
    }

    .bloc3_filledbtn {
      color: transparent;
      transition-duration: 1s;
    }
    .bloc3_filledbtn:hover {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient($periwinkle, $pinky);
      transition-duration: 1s;
      transform: scale(1.12);
      animation: fadein 1s;

      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}
.bloc3 h2 {
  margin-bottom: 10px;
  margin-left: 20px;
}

footer {
  background-color: $darkgrey;
  display: flex;
  flex-direction: column;
  align-content: center;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: lighter;
  margin-left: 40px;
  margin-bottom: -15px;
}

.bloc4_footer {
  list-style: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 20px;
}
.bloc4_footer li {
  margin-top: 10px;
}
.iconesli {
  margin-right: 10px;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/*DESKTOP*/
@media screen and (min-width: 1025px) {
  /*HEADER DESKTOP*/
  .bloc1_pres2 p {
    font-weight: normal;
  }
  .bloc1_pres {
    .bloc1_button {
      width: 20%;
    }
  }
  .bloc2_buttons ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    font-size: 16px;

    .bloc2_button1 {
      width: 26%;
      cursor: pointer;
    }
    .bloc2_button2 {
      width: 26%;
      cursor: pointer;
    }
    .bloc2_button3 {
      width: 26%;
      cursor: pointer;
    }
    .bloc2_buttonicon1 {
      margin-right: 1px;
      margin-left: 6px;
    }

    .bloc2_buttonicon2 {
      margin-right: 7px;
      margin-left: -4px;
    }

    .bloc2_buttonicon3 {
      margin-right: 16px;
      margin-left: -6px;
    }
  }

  .bloc3 {
    padding-bottom: 60px;
    padding-top: 15px;

    .bloc3_badge {
      position: absolute;
      margin-left: 9rem;
      right: inherit;
    }
    .bloc3_badge p {
      font-weight: bolder;
      padding: 10px;
      border-radius: 5%;
    }

    .bloc3_cartes {
      align-items: inherit;
      display: flex;
      justify-items: center;
      flex-direction: row;
      justify-content: space-around;

      .fa-stack-1x,
      .fa-stack-2x {
        margin-left: -20px;
        width: inherit;
        cursor: pointer;
        left: unset;
      }
      .bloc3_carte {
        width: 23%;
      }
    }

    .bloc3_carte p {
      margin-top: -15px;
      font-weight: normal;
    }

    .bloc3_carte img {
      height: 20rem;
      object-fit: cover;
      box-shadow: none;
      display: flex;
      align-content: center;
      border-radius: 1rem 1rem 0 0;
    }
    .bloc3_descresto {
      display: flex;
      flex-direction: column;
    }
    .bloc3_blocdesc {
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      justify-content: space-between;
      margin-bottom: -25px;
      margin-top: -10px;
      padding-top: 5px;
    }
  }
}

/*tablettes*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .bloc1_pres {
    .bloc1_button {
      width: 30%;
      font-size: 17px;
    }
  }

  .bloc2_buttons ul {
    display: flex;
    padding: 5px;

    .bloc2_button1 {
      width: 80%;
      cursor: pointer;
      font-size: 20px;
    }
    .bloc2_button2 {
      width: 80%;
      font-size: 20px;
      cursor: pointer;
    }

    .bloc2_button3 {
      width: 80%;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .bloc3 {
    .bloc3_badge {
      right: 5%;
    }
    .bloc3_cartes {
      .bloc3_carte {
        width: 80%;
      }
      .fa-stack-1x,
      .fa-stack-2x {
        width: inherit;
        cursor: pointer;
        left: 88%;
      }
    }
  }
}
